<h1 style="color: crimson;">Rutas y Lazy Load App</h1>
<ul style="padding: 15px; color: crimson;">
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Registro</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">Contraseña</a>
  </li>
</ul>

<ul style="padding: 25px; color: rgba(212, 78, 24, 0.692); display: inline-block; background-color: #ccc;">
  <li>
    <a routerLink="/products/agregar">Agregar</a>
  </li>
  <li>
    <a routerLink="/products/listar">Listar</a>
  </li>
  <li>
    <a routerLink="/products/producto">Producto</a>
  </li>
</ul>

<router-outlet></router-outlet>